<form #form="ngForm" (ngSubmit)="userRegister(form)">
    <section class="h-100 h-custom gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center
                h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2"
                        style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5" style="color:
                                            #4835d4;">General Infomation</h3>
                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <input type="text"
                                                        class="form-control
                                                        form-control-lg"
                                                        id="first_name"
                                                        ngModel
                                                        name="first_name"
                                                        [(ngModel)]="client.first_name"
                                                        #first_name="ngModel"
                                                        required
                                                        />
                                                    <label class="form-label">First
                                                        name</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <input type="text"
                                                        class="form-control
                                                        form-control-lg"
                                                        id="last_name"
                                                        ngModel name="last_name"
                                                        [(ngModel)]="client.last_name"
                                                        #last_name="ngModel"
                                                        required
                                                        />
                                                    <label class="form-label">Last
                                                        name</label>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="mb-4 pb-2">
                                            <div class="form-outline">
                                                <input type="email"
                                                    class="form-control
                                                    form-control-lg" id="email"
                                                    ngModel name="email"
                                                    [(ngModel)]="client.email"
                                                    #email="ngModel"
                                                    required
                                                    />
                                                <label class="form-label">Email</label>
                                            </div>
                                        </div>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline">
                                                <input type="password"
                                                    class="form-control
                                                    form-control-lg"
                                                    id="passowrd"
                                                    ngModel name="passowrd"
                                                    [(ngModel)]="client.password"
                                                    #password="ngModel"
                                                    required
                                                    />

                                                <label class="form-label">Password</label>
                                            </div>
                                        </div>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline">
                                                <input type="password"
                                                    class="form-control
                                                    form-control-lg"
                                                    id="confirme_password"
                                                    ngModel
                                                    name="confirme_password"
                                                    [(ngModel)]="client.confirme_password"
                                                    #confirme_password="ngModel"
                                                    required
                                                    />
                                                <label class="form-label">Confirme
                                                    Password</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2
                                                mb-md-0 pb-md-0">

                                                <div class="form-outline">
                                                    <input type="text"
                                                        class="form-control
                                                        form-control-lg"
                                                        id="pharmacy_name"
                                                        ngModel
                                                        name="pharmacy_name"
                                                        [(ngModel)]="client.pharmacy_name"
                                                        #store_name="ngModel"
                                                        required
                                                        />
                                                    <label class="form-label">Pharmacy
                                                        Name</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6">

                                                <select class="select"
                                                    ngModel name="employes"
                                                    id="employes"
                                                    [(ngModel)]="client.employes"
                                                    #employes="ngModel"
                                                    required>
                                                    <option selected>Employes</option>
                                                    <option value=1>One</option>
                                                    <option value=2>Two</option>
                                                    <option value=3>Three</option>
                                                    <option value=4>Four</option>
                                                </select>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 bg-indigo text-white">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5">Details
                                            Information</h3>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline
                                                form-white">
                                                <input type="text"
                                                    class="form-control
                                                    form-control-lg" id="street"
                                                    ngModel name="street"
                                                    [(ngModel)]="client.street"
                                                    #street="ngModel"
                                                    required
                                                    />

                                                <label class="form-label">Street
                                                </label>
                                            </div>
                                        </div>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline
                                                form-white">
                                                <input type="text"
                                                    class="form-control
                                                    form-control-lg" id="info"
                                                    ngModel name="info"
                                                    [(ngModel)]="client.info"
                                                    #info="ngModel"
                                                    required
                                                    />
                                                <label class="form-label">Additional
                                                    Information</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-5 mb-4 pb-2">
                                                <div class="form-outline
                                                    form-white">
                                                    <input type="text"
                                                        class="form-control
                                                        form-control-lg"
                                                        id="zipcode"
                                                        ngModel name="zipcode"
                                                        [(ngModel)]="client.zipcode"
                                                        #zipcode="ngModel"
                                                        required
                                                        />
                                                    <label class="form-label">Zip
                                                        Code</label>
                                                </div>

                                            </div>
                                            <div class="col-md-7 mb-4 pb-2">
                                                <div class="form-outline
                                                    form-white">
                                                    <input type="text"
                                                        class="form-control
                                                        form-control-lg"
                                                        id="willaya"
                                                        ngModel name="willaya"
                                                        [(ngModel)]="client.willaya"
                                                        #willaya="ngModel"
                                                        required
                                                        />
                                                    <label class="form-label">Willaya</label>
                                                </div>

                                            </div>
                                        </div>



                                        <div class="mb-4 pb-2">
                                            <div class="form-outline
                                                form-white">
                                                <input type="text"
                                                    class="form-control
                                                    form-control-lg" id="phone"
                                                    ngModel name="phone"
                                                    [(ngModel)]="client.phone"
                                                    #phone="ngModel"
                                                    required
                                                    />
                                                <label class="form-label">phone
                                                    Number</label>
                                            </div>
                                        </div>

                                        <div class="form-check d-flex
                                            justify-content-start mb-4 pb-3">
                                            <label class="form-check-label
                                                text-white">You have account ?
                                                <a href="#!" class="text-white"><u>Log
                                                        In</u></a>

                                            </label>
                                        </div>

                                        <button type="submit" class="btn
                                            btn-light btn-lg">Register</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>