<form (ngSubmit)="userRegister()" [formGroup]="form">
    <section class="h-100 h-custom gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center
                h-100">
                <div class="col-12">
                    <div
                        class="card card-registration card-registration-2"
                        style="border-radius: 15px">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5" style="color:
                                            #4572bf">
                                            Sign up
                                        </h3>
                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-group">
                                                    <input
                                                        type="text"
                                                        class="form-control
                                                        form-control-lg"
                                                        id="fname"
                                                        ngModel
                                                        name="fname"
                                                        [(ngModel)]="client.fname"
                                                        formControlName="fname"
                                                        />
                                                    <label class="form-label">First
                                                        name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <input
                                                        type="text"
                                                        class="form-control
                                                        form-control-lg"
                                                        id="lname"
                                                        ngModel
                                                        name="lname"
                                                        [(ngModel)]="client.lname"
                                                        formControlName="lname"
                                                        />
                                                    <label class="form-label">Last
                                                        name</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline">
                                                <input
                                                    type="email"
                                                    class="form-control
                                                    form-control-lg"
                                                    id="email"
                                                    ngModel
                                                    name="email"
                                                    [(ngModel)]="client.email"
                                                    formControlName="email"
                                                    />
                                                <label class="form-label">Email</label>
                                            </div>
                                        </div>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline">
                                                <input
                                                    type="password"
                                                    class="form-control
                                                    form-control-lg"
                                                    id="passowrd"
                                                    ngModel
                                                    name="passowrd"
                                                    [(ngModel)]="client.password"
                                                    formControlName="password"
                                                    />
                                                <label class="form-label">Password</label>
                                            </div>
                                        </div>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline">
                                                <input
                                                    type="password"
                                                    class="form-control
                                                    form-control-lg"
                                                    id="confirmePassword"
                                                    ngModel
                                                    name="confirmePassword"
                                                    [(ngModel)]="client.confirmePassword"
                                                    formControlName="confirmePassword"
                                                    />
                                                <label class="form-label">Confirme
                                                    Password</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 bg-indigo text-white">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5">General
                                            Informations</h3>

                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2
                                                mb-md-4 pb-md-1">
                                                <div class="form-outline">
                                                    <input
                                                        type="text"
                                                        class="form-control
                                                        form-control-lg"
                                                        id="pharmaName"
                                                        ngModel
                                                        name="pharmaName"
                                                        [(ngModel)]="client.pharmaName"
                                                        formControlName="pharmaName"
                                                        />
                                                    <label class="form-label">Pharmacy
                                                        Name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Employes
                                                </label>
                                                <select
                                                    class="select"
                                                    ngModel
                                                    name="employees"
                                                    id="employees"
                                                    [(ngModel)]="client.employees"
                                                    formControlName="employees">
                                                    <option [ngValue]="1">One</option>
                                                    <option [ngValue]="2">Two</option>
                                                    <option [ngValue]="3">Three</option>
                                                    <option [ngValue]="4">Four</option>
                                                    <option [ngValue]="5">five</option>
                                                    <option [ngValue]="6">six</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline
                                                form-white">
                                                <input
                                                    type="text"
                                                    class="form-control
                                                    form-control-lg"
                                                    id="address"
                                                    ngModel
                                                    name="address"
                                                    [(ngModel)]="client.address"
                                                    formControlName="address"
                                                    />

                                                <label class="form-label">Address</label>
                                            </div>
                                        </div>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline
                                                form-white">
                                                <input
                                                    type="text"
                                                    class="form-control
                                                    form-control-lg"
                                                    id="willaya"
                                                    ngModel
                                                    name="willaya"
                                                    [(ngModel)]="client.willaya"
                                                    formControlName="willaya"
                                                    />
                                                <label class="form-label">Willaya
                                                </label>
                                            </div>
                                        </div>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline
                                                form-white">
                                                <input
                                                    type="text"
                                                    class="form-control
                                                    form-control-lg"
                                                    id="phone"
                                                    ngModel
                                                    name="phone"
                                                    [(ngModel)]="client.phone"
                                                    formControlName="phone"
                                                    />
                                                <label class="form-label">phone
                                                    Number</label>
                                            </div>
                                        </div>

                                        <div
                                            class="form-check d-flex
                                            justify-content-start mb-4 pb-3">
                                            <label class="form-check-label
                                                text-white">You have account ?
                                                <a href="#!" class="text-white"><u>Log
                                                        In</u></a>
                                            </label>
                                        </div>

                                        <button type="submit" class="btn
                                            btn-light btn-lg">
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
